In [1]:
# Import packages
import pandas as pd
#pd.set_option('display.max_columns', 500)
import numpy as np

In [2]:
# Load data for foodcodes that were replaced with FNDDS 2018
new_codes = pd.read_csv('data/fndds/fndds_remap_code_2011_2018/fndds_missing_foods_replaced.csv')
# Load ASA24 dataset
asa24 = pd.read_csv('data/asa24/fl100_recalls_qcd.csv')

In [3]:
new_codes['NewFoodCode'].sort_values(ascending=True)

332    11350000
76     11360000
108    11411100
482    11411200
83     11411200
         ...
117    95201200
330    95230010
292    99995000
151    99997410
86     99997550
Name: NewFoodCode, Length: 483, dtype: int64

In [4]:
new_codes = new_codes[new_codes['NewFoodCode'] != 9]

In [5]:
asa24 = asa24[asa24['FoodCode'] != 9]
asa24 = asa24[asa24['Food_Description'] != ' ']

In [6]:
asa24['FoodCode'].dropna(inplace=True)

In [7]:
old = new_codes['FoodCode'].tolist()

In [8]:
new = new_codes['NewFoodCode'].tolist()

In [9]:
keep = asa24[~asa24['FoodCode'].isin(old)]

In [10]:
match = asa24[asa24['FoodCode'].isin(old)]
match

,UserName,UserID,RecallNo,RecallAttempt,RecallStatus,IntakeStartDateTime,IntakeEndDateTime,ReportingDate,Lang,Occ_No,...,F_TOTAL,F_CITMLB,F_OTHER,D_TOTAL,D_MILK,D_YOGURT,D_CHEESE,FoodComp,Food_Description,Modified
14,5001,6fbb2168-fd69-4842-896b-56b4735cf652,2,0,7,5/22/15 0:00,5/23/15 0:00,5/23/15,1,5,...,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,1.0,"Onion, young green, cooked, from fresh, NS as ...",NaN
24,5002,ebbaa09a-f313-4c4f-a44e-4c4c33d83af1,2,0,1,12/20/15 0:00,12/21/15 0:00,12/21/15,1,2,...,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,1.0,"Ground beef, less than 80% lean, cooked (forme...",NaN
32,5002,ebbaa09a-f313-4c4f-a44e-4c4c33d83af1,2,0,1,12/20/15 0:00,12/21/15 0:00,12/21/15,1,3,...,0.124968,0.0,0.124968,0.000000,0.00000,0.0,0.000000,1.0,"Fig, dried, cooked, unsweetened",NaN
47,5005,59ec1000-a384-4f54-823c-b35659d5e8f0,2,0,7,7/6/15 0:00,7/7/15 0:00,7/7/15,1,2,...,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,1.0,"Peppers, hot, cooked, NS as to form, fat added...",NaN
76,5005,59ec1000-a384-4f54-823c-b35659d5e8f0,2,0,7,7/6/15 0:00,7/7/15 0:00,7/7/15,1,4,...,0.000000,0.0,0.000000,0.172464,0.00000,0.0,0.172464,1.0,"Pizza with meat, prepared from frozen, thin crust",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19334,9067,f52a4bff-5ed6-4770-ab73-19fe0c47b2e8,4,0,2,7/13/19 0:00,7/14/19 0:00,7/14/19,1,5,...,0.000000,0.0,0.000000,0.183750,0.18375,0.0,0.000000,1.0,"White potato, from fresh, mashed, made with mi...",NaN
19340,9067,f52a4bff-5ed6-4770-ab73-19fe0c47b2e8,4,0,2,7/13/19 0:00,7/14/19 0:00,7/14/19,1,6,...,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,1.0,"Tea, NS as to type, presweetened with sugar",NaN
19346,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,2,...,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,1.0,"Ground beef, less than 80% lean, cooked (forme...",NaN
19353,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,2,...,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,1.0,"Ground beef, less than 80% lean, cooked (forme...",NaN
19365,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,0.000000,0.0,0.000000,0.000000,0.00000,0.0,0.000000,1.0,"White potato, hash brown, from frozen",NaN

In [11]:
match['FoodCode'].replace(old, new, inplace=True) #SettingwithcopyWarning

/Users/jules.larke/opt/anaconda3/lib/python3.8/site-packages/pandas/core/series.py:4509: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().replace(

In [12]:
asa24_matched = pd.concat([match, keep], axis=0)
asa24_matched

,UserName,UserID,RecallNo,RecallAttempt,RecallStatus,IntakeStartDateTime,IntakeEndDateTime,ReportingDate,Lang,Occ_No,...,F_TOTAL,F_CITMLB,F_OTHER,D_TOTAL,D_MILK,D_YOGURT,D_CHEESE,FoodComp,Food_Description,Modified
14,5001,6fbb2168-fd69-4842-896b-56b4735cf652,2,0,7,5/22/15 0:00,5/23/15 0:00,5/23/15,1,5,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,"Onion, young green, cooked, from fresh, NS as ...",NaN
24,5002,ebbaa09a-f313-4c4f-a44e-4c4c33d83af1,2,0,1,12/20/15 0:00,12/21/15 0:00,12/21/15,1,2,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,"Ground beef, less than 80% lean, cooked (forme...",NaN
32,5002,ebbaa09a-f313-4c4f-a44e-4c4c33d83af1,2,0,1,12/20/15 0:00,12/21/15 0:00,12/21/15,1,3,...,0.124968,0.0,0.124968,0.000000,0.0,0.0,0.000000,1.0,"Fig, dried, cooked, unsweetened",NaN
47,5005,59ec1000-a384-4f54-823c-b35659d5e8f0,2,0,7,7/6/15 0:00,7/7/15 0:00,7/7/15,1,2,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,"Peppers, hot, cooked, NS as to form, fat added...",NaN
76,5005,59ec1000-a384-4f54-823c-b35659d5e8f0,2,0,7,7/6/15 0:00,7/7/15 0:00,7/7/15,1,4,...,0.000000,0.0,0.000000,0.172464,0.0,0.0,0.172464,1.0,"Pizza with meat, prepared from frozen, thin crust",NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19368,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,"Avocado, raw",NaN
19369,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,"Cilantro, raw",NaN
19370,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,0.492800,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,"Lime juice, freshly squeezed",NaN
19371,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,"Salsa, pico de gallo",NaN
19372,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.000000,1.0,Sour cream,NaN

In [13]:
asa24_matched['Food_Description'].nunique()

2284

### Merge ASA24 updated foodcodes with FNDDS to ingredientize

In [14]:
#Load data
fndds = pd.read_csv('data/fndds/fndds_2018/fndds2018.csv')

#Rename column 'Food code' to 'FoodCode' for merging with ASA data
fndds.columns=['FoodCode',
               'fndds_description',
               'WWEIA Category number',
               'WWEIA Category description',
               'Seq num',
               'Ingredient code',
               'Ingredient description',
               'Ingredient weight (g)',
               'Retention code',
               'Moisture change (%)']

In [15]:
fndds

,FoodCode,fndds_description,WWEIA Category number,WWEIA Category description,Seq num,Ingredient code,Ingredient description,Ingredient weight (g),Retention code,Moisture change (%)
0,11000000,"Milk, human",9602,Human milk,1,1107,"Milk, human, mature, fluid",100.0,0,0.0
1,11100000,"Milk, NFS",1004,"Milk, reduced fat",1,1077,"Milk, whole, 3.25% milkfat, with added vitamin D",35.0,0,0.0
2,11100000,"Milk, NFS",1004,"Milk, reduced fat",2,1079,"Milk, reduced fat, fluid, 2% milkfat, with add...",37.0,0,0.0
3,11100000,"Milk, NFS",1004,"Milk, reduced fat",3,1082,"Milk, lowfat, fluid, 1% milkfat, with added vi...",17.0,0,0.0
4,11100000,"Milk, NFS",1004,"Milk, reduced fat",4,1085,"Milk, nonfat, fluid, with added vitamin A and ...",11.0,0,0.0
...,...,...,...,...,...,...,...,...,...,...
24891,99998130,Sauce as ingredient in hamburgers,9999,Not included in a food category,3,2046,"Mustard, prepared, yellow",10.0,0,0.0
24892,99998210,Industrial oil as ingredient in food,9999,Not included in a food category,1,4698,"Oil, industrial, canola, high oleic",25.0,0,0.0
24893,99998210,Industrial oil as ingredient in food,9999,Not included in a food category,2,4701,"Oil, industrial, soy, fully hydrogenated",25.0,0,0.0
24894,99998210,Industrial oil as ingredient in food,9999,Not included in a food category,3,4699,"Oil, industrial, soy, low linolenic",25.0,0,0.0
24895,99998210,Industrial oil as ingredient in food,9999,Not included in a food category,4,4700,"Oil, industrial, soy, ultra low linolenic",25.0,0,0.0

In [16]:
asa_fndds = pd.merge(asa24_matched, fndds, on='FoodCode')
asa_fndds

,UserName,UserID,RecallNo,RecallAttempt,RecallStatus,IntakeStartDateTime,IntakeEndDateTime,ReportingDate,Lang,Occ_No,...,Modified,fndds_description,WWEIA Category number,WWEIA Category description,Seq num,Ingredient code,Ingredient description,Ingredient weight (g),Retention code,Moisture change (%)
0,5001,6fbb2168-fd69-4842-896b-56b4735cf652,2,0,7,5/22/15 0:00,5/23/15 0:00,5/23/15,1,5,...,NaN,"Onions, green, raw",6414,Onions,1,11291,"Onions, spring or scallions (includes tops and...",100.000,0,0.0
1,6022,4411908a-33c5-4774-a22c-ce9e3be24b36,2,0,7,3/13/16 0:00,3/14/16 0:00,3/14/16,1,5,...,NaN,"Onions, green, raw",6414,Onions,1,11291,"Onions, spring or scallions (includes tops and...",100.000,0,0.0
2,8096,961b0a45-6760-4316-b8de-5cb1ebf6e405,2,0,2,10/17/18 0:00,10/18/18 0:00,10/18/18,2,3,...,NaN,"Onions, green, raw",6414,Onions,1,11291,"Onions, spring or scallions (includes tops and...",100.000,0,0.0
3,9041,3eb9b673-b3dd-4a94-8e4d-70cdbef67f56,2,0,2,4/28/19 0:00,4/29/19 0:00,4/29/19,1,3,...,NaN,"Onions, green, raw",6414,Onions,1,11291,"Onions, spring or scallions (includes tops and...",100.000,0,0.0
4,7122,4de71a04-eb35-4efc-9508-398d084f3ab0,3,0,2,11/5/17 0:00,11/6/17 0:00,11/6/17,1,1,...,NaN,"Onions, green, raw",6414,Onions,1,11291,"Onions, spring or scallions (includes tops and...",100.000,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34787,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,3,...,NaN,"Soft drink, cream soda",7202,Soft drinks,1,14130,"Carbonated beverage, cream soda",100.000,0,0.0
34788,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,NaN,"Shrimp, baked or broiled, made with butter",2404,Shellfish,1,15149,"Crustaceans, shrimp, mixed species, raw (may c...",453.600,2753,-20.0
34789,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,NaN,"Shrimp, baked or broiled, made with butter",2404,Shellfish,2,2047,"Salt, table, iodized",3.000,0,-20.0
34790,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,NaN,"Shrimp, baked or broiled, made with butter",2404,Shellfish,3,1001,"Butter, salted",14.000,0,-20.0
34791,9069,ec82777c-1622-46ea-a33d-b61db3a90ddd,4,0,2,7/19/19 0:00,7/20/19 0:00,7/20/19,1,4,...,NaN,"Shrimp, baked or broiled, made with butter",2404,Shellfish,4,9152,"Lemon juice, raw",5.167,270,-20.0

In [17]:
asa_fndds.Food_Description.nunique()

2282

In [18]:
asa24.Food_Description.nunique()

2284

In [19]:
asa_set = set(asa24['Food_Description'].unique())
asa_fndds_set = set(asa_fndds['Food_Description'].unique())

In [20]:
# 2 foods did not map to FNDDS2018
unmapped = asa_set.difference(asa_fndds_set)
unmapped

{'Oriental party mix, with peanuts, sesame sticks, chili rice crackers and fried green peas',
 'Vegetable sticks, breaded (including corn, carrots, and green beans)'}

In [21]:
#Rearrange columns of interest
cols_to_order = ['UserName',
 'FoodCode',
 'Food_Description',
 'fndds_description',
 'WWEIA Category number',
 'WWEIA Category description',
 'FoodAmt',                
 'Seq num',
 'Ingredient code',
 'Ingredient description',
 'Ingredient weight (g)']
new_columns = cols_to_order + (asa_fndds.columns.drop(cols_to_order).tolist())
asa_fndds = asa_fndds[new_columns]
asa_fndds

,UserName,FoodCode,Food_Description,fndds_description,WWEIA Category number,WWEIA Category description,FoodAmt,Seq num,Ingredient code,Ingredient description,...,F_CITMLB,F_OTHER,D_TOTAL,D_MILK,D_YOGURT,D_CHEESE,FoodComp,Modified,Retention code,Moisture change (%)
0,5001,75117010.0,"Onion, young green, cooked, from fresh, NS as ...","Onions, green, raw",6414,Onions,29.0,1,11291,"Onions, spring or scallions (includes tops and...",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,0.0
1,6022,75117010.0,"Onions, young green, raw","Onions, green, raw",6414,Onions,25.0,1,11291,"Onions, spring or scallions (includes tops and...",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,0.0
2,8096,75117010.0,"Onions, young green, raw","Onions, green, raw",6414,Onions,5.0,1,11291,"Onions, spring or scallions (includes tops and...",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,0.0
3,9041,75117010.0,"Onions, young green, raw","Onions, green, raw",6414,Onions,15.0,1,11291,"Onions, spring or scallions (includes tops and...",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,0.0
4,7122,75117010.0,"Onions, young green, raw","Onions, green, raw",6414,Onions,12.5,1,11291,"Onions, spring or scallions (includes tops and...",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34787,9069,92410410.0,Cream soda,"Soft drink, cream soda",7202,Soft drinks,370.8,1,14130,"Carbonated beverage, cream soda",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,0.0
34788,9069,26319121.0,"Shrimp, baked or broiled, made with butter","Shrimp, baked or broiled, made with butter",2404,Shellfish,145.0,1,15149,"Crustaceans, shrimp, mixed species, raw (may c...",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,2753,-20.0
34789,9069,26319121.0,"Shrimp, baked or broiled, made with butter","Shrimp, baked or broiled, made with butter",2404,Shellfish,145.0,2,2047,"Salt, table, iodized",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,-20.0
34790,9069,26319121.0,"Shrimp, baked or broiled, made with butter","Shrimp, baked or broiled, made with butter",2404,Shellfish,145.0,3,1001,"Butter, salted",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,0,-20.0
34791,9069,26319121.0,"Shrimp, baked or broiled, made with butter","Shrimp, baked or broiled, made with butter",2404,Shellfish,145.0,4,9152,"Lemon juice, raw",...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,NaN,270,-20.0

In [23]:
asa_fndds.to_csv('data/asa24/asa24_ingredients/asa_fndds_matched_nndc_120721.csv', index=None)